################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/DesignPatterns/.vs
/DesignPatterns/DesignPatterns/obj
/Behavioral/Behavioral.Observer/bin/Debug/net8.0
/Behavioral/Behavioral.Observer/obj
/Creational/Creational.Singleton/bin/Debug/net8.0
/Creational/Creational.Singleton/obj
/Structural/Structual.Facade/bin/Debug/net8.0
/Structural/Structual.Facade/obj
/Behavioural.Stratergy/bin/Debug/net8.0
/Behavioural.Stratergy/obj/Debug/net8.0
/Behavioural.Stratergy/obj
/Creational.Builder/obj
/Structural.Adapter/bin/Debug/net8.0
/Structural.Adapter/obj
/Structural.Bridge/bin/Debug/net8.0
/Structural.Bridge/obj
